<!doctype html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />
<title>
morfo: análisis y generación morfológica
</title>

{% block style %}{% endblock %}

</head>

<body>

<form action='' name="Form1" id='form' action="anal" method="post">

<div class="banner">
  <div class="logo">
    <a href=".">
    <img class='banner' src="{{url_for('static', filename='banner_logo.png')}}"
      alt="" width="315px" height="56px" />
    </a>
  </div>

  {% block menu %}
  <div class="menu">
    <table class="menu">
      <tr>
    <td class="menuright">
      <div class='menu-wrap-right'>
      <button type="button" class="despleg" onclick="mostrarDespleg()">
	{% if language %} {{ifdict.language_menu}} ▾ | <span class="language">{{language}}</span>
	{% else %}SELECCIONAR IDIOMA ▾
	{% endif %}
	</button>
      <div id="menudespleg" class="contenido-despleg">
	{% if (not language) or (language.abbrev != 'spa') %}
	<span class='opinic' onclick="idioma('spa')">CASTELLANO</span>
	{% endif %}
	{% if  (not language) or (language.abbrev != 'grn') %}
	<span class='opinic' onclick="idioma('grn')">GUARANÍ</span>
	{% endif %}
	{% if  (not language) or (language.abbrev != 'quz') %}
	<span class='opinic' onclick="idioma('quz')">QHICHWA</span>
	{% endif %}
	{% if  (not language) or (language.abbrev != 'quc') %}
	<span class='opinic' onclick="idioma('quc')">K'ICHE'</span>
	{% endif %}
	{% if  (not language) or (language.abbrev != 'orm') %}
	<span class='opinic' onclick="idioma('orm')">AFAAN OROMOO</span>
	{% endif %}
	{% if  (not language) or (language.abbrev != 'am') %}
	<span class='opinic' onclick="idioma('am')">አማርኛ</span>
	{% endif %}
	{% if  (not language) or (language.abbrev != 'ti') %}
	<span class='opinic' onclick="idioma('ti')">ትግርኛ</span>
	{% endif %}
      </div>
      </div>
      <td class="menuright">
      <div class='menu-wrap-right'>
        <button class="menu" onclick="ingresar()">{{ifdict.login_menu}}</button>
      </div>
      </td>
      <td class="menuright">
      <div class='menu-wrap-right'>
      <button class="menu" onclick="acerca()">{{ifdict.about_menu}}</button>
      </div>
      </td>
    </tr>
  </table>
  </div>
    {% endblock %}
</div>
<input type="hidden" name="labrev" value="">
<input type="hidden" name="ayuda" value=false>
<input type="hidden" name="language" value={{ language }}>
<input type="hidden" name="webdata" value={{ webdata|e }}>
</form>
<p></p>
<hr class="main">

{% block heading1 %}{% endblock %}

<div id="cargando">

{% block body %}{% endblock %}

</div>

{% block script %}{% endblock %}

<script async="" src="{{url_for('static', filename='Misc.js')}}"></script>

</body>
</html>
