{% extends "base.html" %}

{% block menu %}
    <td class="menu" style="width: 750px">
      <div class='despleg-wrap'>
      <button type="button" class="despleg"
	onclick="mostrarDespleg()">
	▾ SELECT LANGUAGE | SELECCIONAR IDIOMA | ቋንቋ መምረጥ
	</button>
      <div id="menudespleg" class="contenido-despleg">
	<span class='opinic' onclick="idioma('spa')">CASTELLANO</span>
	<span class='opinic' onclick="idioma('grn')">GUARANÍ</span>
	<span class='opinic' onclick="idioma('qu')">QHICHWA</span>
	<span class='opinic' onclick="idioma('quc')">K'ICHE'</span>
	<span class='opinic' onclick="idioma('om')">AFAAN OROMOO</span>
	<span class='opinic' onclick="idioma('am')">አማርኛ</span>
	<span class='opinic' onclick="idioma('ti')">ትግርኛ</span>
      </div>
      </div>
    </td>
{% endblock %}

{% block body %}
<p>
<span class='morfo'>
<span class='brown'>m</span><span class='green'>o</span><span class='red'>r</span><span class='blue'>f</span><span class='magenta'>o</span></span>
is an application that analyzes words in several languages.</p>
<p>
To get started, choose a language and wait for the linguistic
data to load.
</p>
<hr class='section'>
<p>
<span class='morfo'>
<span class='brown'>m</span><span class='green'>o</span><span
class='red'>r</span><span class='blue'>f</span><span
class='magenta'>o</span></span>
es una aplicación que analiza palabras en algunos
idiomas.</p>
<p>
Para empezar, seleccione un idioma y espere hasta que se carguen los datos lingüísticos.
</p>
<hr class='section'>
<p>    
<span class='morfo'>
<span class='brown'>m</span><span class='green'>o</span><span
class='red'>r</span><span class='blue'>f</span><span
    class='magenta'>o</span></span>
የአንዳንድ ቋንቋዎች ቃላት የሚተነትን መተግበሪያ ነው።
    </p>
    <p>
    ለመጀመር፣ ቋንቋ ይምረጡና የቋንቋ ውሂብ እስኪጫን ድረስ ይጠብቁ።
    </p>
{% endblock %}

